body {
  color: white;
  background-image: url("../assets/bg_5.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.homeDiv {
  display: flex;
  flex-direction: row;
}
.navBar {
  display: flex;
  flex-direction: row;
  color: white;
  position: fixed;
  width: 100%;
  /* background-color: aqua; */
}
img {
  width: 8%;
  height: 8%;
}
.content {
  display: flex;
  flex-direction: column;
  margin-top: 14%;
  margin-left: 3%;
  font-size: x-large;
}
input[type="text"] {
  width: min-content;
  opacity: 0.4;
  height: max-content;
  padding: 3px 3px;
  font-size: large;
  border-radius: 2px;
}
.search {
  display: flex;
  flex-direction: row;
}
.searchIcon {
  width: 5%;
  height: 5%;
}
