body {
  color: white;
  /* background-image: url("../assets/bg_5.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  /* overflow-y: hidden; */
  color: black;
}
.restaurantsHome {
  background-image: url("../assets/bg_8.jpg");
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
  display: flex;
  flex-direction: column;
}

.restaurantsList {
  margin-top: 10%;
  margin-left: 10%;
  margin-right: 15%;
  width: 80%;
  /* height: 80vh; */
}
.navBar {
  display: flex;
  flex-direction: row;
  position: fixed;
  width: 100%;
  color: white;
  background-color: rgb(78, 11, 11);
  /* background-color: rgb(137, 222, 202); */
}
img {
  width: 100%;
  height: 100%;
}
.imgLink {
  width: 12%;
  height: 20%;
}
.title {
  width: 30%;
  color: white;
  font-size: larger;
}
.name {
  margin-top: 10%;
  color: white;
  margin-left: 30%;
  margin-right: 30%;
  position: fixed;
}
.listItems {
  color: black;
}
.dataItem {
  width: 100%;
  border: 1px solid;
  border-radius: 10px;
  box-shadow: 0px 0px 15px -8px black;
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
  height: max-content;
  color: black;
  padding: 2px 5px;
}
.categories {
  font-weight: bold;
}
.restaurantNames {
  font-weight: bold;
}
.load {
  color: black;
}
